<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".clustering"
            android:exported="false" />
        <activity
            android:name=".printing_page"
            android:exported="false" />
        <activity
            android:name=".delete_patient"
            android:exported="false" />
        <activity
            android:name=".control_system"
            android:exported="false" />
        <activity
            android:name=".login_page"
            android:exported="false" />
        <activity
            android:name=".submission_done"
            android:exported="false" />
        <activity
            android:name=".Registeration"
            android:exported="false" />
        <activity
            android:name=".patient_activity"
            android:exported="false" />
        <activity
            android:name=".FirstChoiceActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>